@import url("https://use.typekit.net/ncx8xtz.css");

#container{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow-x:hidden;
    color:#fff;
    display:flex;
    flex-wrap: wrap;
}

.box{
    width:100%;
}


#map{
    pointer-events: all;
    position: absolute;
    width:100vw;
    height:100vh;
    z-index:599;
    background-size:cover;
    background-image:url("../images/test.png");
  -webkit-filter: blur(2px) grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: blur(2px) grayscale(90%);
}

.map-overlay{
    position: absolute;
    width:100%;
    height:100vh;
    z-index:100;
 //   border:1em solid red;
    background-size:cover;
    background-image:url("../images/overlay.png");
    mix-blend-mode: screen;
    pointer-events: none;
    display:none;

}

#photo{
    position: absolute;
    top:0; left: 0;
    padding:5vw;
    box-sizing: border-box;
    width:100vw;
    height:100vh;
    overflow:hidden;
    z-index:99;
    background: transparent;
}

#paint{
    position: absolute;
    z-index:99;
    top:10vh;
    background:yellow;
   // background: transparent;
    mix-blend-mode: screen;
    pointer-events: none;
 //   border:10px solid yellow;
    height:40vh;
    pointer-events:none;
}

.camera{
    position: absolute;
    top:300px;
    left:300px;
    z-index:11;
    width:500px;
    height:240px;
    margin: auto;
    pointer-events: none;
}

.camera-overlay{
    display: none;
    position: absolute;
    width:500px;
    height:240px;
    top:0;
    left:0;
    
    mix-blend-mode: overlay;
    margin: auto;
    background-size:cover;
    background-image:url("../images/overlay-cam.png");
    z-index:99;
    pointer-events: none;
}

.words{
    // use this when i have to center shit
    position: fixed;
    max-width:100%; max-height:100%;
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin:auto;
    font-size:18px;
    z-index:9999;

    textarea{
        margin-top:5vh;
        z-index:99 !important;
        width:40vw;
        border:0;
        pointer-events: all;
        height:50vh;
        background:none;
        font-size:32px;
        color: #fff;
        font-family: miller-banner, serif;
    }

}



/* TRAVEL */


.travel-place{
    position: absolute;
    top:5vh;
    z-index:99999;
    width:100%;
    text-align: center;
    font-family: big-caslon-fb, serif;
    font-weight: 700;
    font-weight: 700;
    font-style: italic;

    h2{
        font-size:1.3em;
        margin:0;
    }
    

    input[type=text]{
        font-family: miller-banner, serif;
        width:30vw; 
        text-align: center;
        font-size:1.4em;
        padding:.5em;
        margin:0;
        background: none;
        border:none;
        color:#fff;
    }
    
    input:focus{
        color:red;
        font-style: italic;
        text-shadow:0 5px 20px #fff !important;
    }

    button{
        display:inline-block;
        padding:1em;
        color:#fff;
        margin:0;
    }


}

.time{
    position: absolute;
    text-align: center;
    width:100%;
    z-index:99999;
    bottom:5vh;
    font-family: miller-banner, serif;
    font-weight: 300;
    font-style: italic;
    display:none;
    
    
    .tell_time{
        font-size:1em;
        text-align: center;
        max-width:5ch !important; // trunchate after 5 ch
    }

    .tell_time::after{
        content: "°";
    }

}

/* SPACES */

h1{
    text-align: center;
}